@{
    ViewBag.Title = "Error Page";
}

<div class="text-center">
    <h1>@ViewBag.Title</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="~/error.svg" width="500px" style="margin-top:100px" />
</div>
